/* tableau */
hr
{
    border-color: lightgray;
    border-collapse: separate;
    border-spacing: 5px;
}
#jolt
{
	min-width: 130px;
	min-height: 100px;
  	max-width: 60%;
 	max-height: 60%;
}
#everkey
{
	min-width: 100px;
	min-height: 100px;
  	max-width: 110%;
  	max-height: 110%;
}