<!DOCTYPE html>
<html>

	<head>
		<title> acceuil Kickseller </title>
		<meta charset="UTF-8">
	</head>

	<body>
		<!-- header toujour présent -->
		<header>
			<img src="../package/logo_kickseller.gif" alt="logo kickseller">
			<input/>
            <a href="../main.html"> Accueil </a>
			<a href="../about.html"> A propos </a>
			<a href="panier.html"> Panier </a>
			<a href="mailto:kicksaller.sav@gmail.com"> Nous contacter </a>
            <img src="../package/logo_se_connecter.jpg" alt="se connecter">
        </header>


		


        <!-- bas de page toujour présent-->
        <footer>
            <p>
                À PROPOS</br>
                <a href=""> condition générales </a>
                <a href=""> mentions légales </a>
            </p>
    
            <p>
                AIDE, SAV & SERVICES</br>
                <a href="mailto:kicksaller.sav@gmail.com"> SAV </a>
            </p>

            <p>
                QUI SOMMES NOUS ?</br>
                <a href="about.html"> à propos </a>
                <h5 style="font-style:Arial; color:#8283a7">
                    Jeunes Tech0 de Epitech Toulouse 
                </h5>
            </p>
        </footer>
	</body>
</html>
