<!DOCTYPE html>
<html>

<head>
	<title> nom objet
		<!-- à changer -->
	</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../css/template.css">
</head>

<body>
	<header>
		<img src="../../package/logo_kickseller.gif" alt="logo kickseller">
		<input />
		<a href="../main.html"> Accueil </a>
		<a href="../about.html"> A propos </a>
		<a href="../panier.html"> Panier </a>
		<a href="mailto:kicksaller.sav@gmail.com"> Nous contacter </a>
		<a href="../se_connecter.html"><img src="../package/logo_se_connecter.jpg" alt="se connecter"></a>
	</header>

	<nav>
		<h5> Catégories : </h5>
		<a href="sport.html"> Sport </a></br>
		<a href="animalerie.html"> Animalerie </a></br>
		<a href="higiène_et_santé.html"> Higiène et Santé </a></br>
		<a href="gadgets.html"> Gadgets </a></br>
		<a href="fournitures.html"> Fournitures </a></br>
		<a href="appareils.html"> Appareils </a></br>
	</nav>


	<section>
		<p>
			<span style="font-style:Arial"></span> <!-- remplace le CSS et s'aplique à la ligne suivante-->
		<h1>nom de l'objet
			<!-- à changer -->
		</h1>
		</p>
	</section>
	<p>

	</p>


	<footer>
		<p id="footer_gauche">
			À PROPOS</br>
			<a href=""> condition générales </a>
			<a href=""> mentions légales </a>
		</p>

		<p id="footer_milieu">
			AIDE, SAV & SERVICES</br>
			<a href="mailto:kicksaller.sav@gmail.com"> sav </a>
		</p>

		<p id="footer_droit">
			QUI SOMMES NOUS ?</br>
			<a href="../about.html"> à propos </a>
			</h5>
		</p>
	</footer>
</body>

</html>